<% include header %>

<main>

    <h1>The CREATE Operation!</h1>
    <p>This page lets you add movie entries to the mongoDB database</p>

        <section class="movie-entry-container">
            <form action="/create" method="POST">
                <input type="text" required placeholder="Movie Title" name="title">
                <input type="text" required placeholder="Year" name="year">
                <input type="text" required placeholder="image url" name="poster">
                <!-- <button class="Preview">Preview</button> -->
                <button class="submit" type="submit">Submit!</button>

            </form>

            <article class="video-thumb">
                <img src="https://source.unsplash.com/182x268/?cinema" alt="movie-poster">
                <h4>Your Movie</h4>
                <p>Movie Year</p>
            </article>
        </section>

</main>


<% include footer %>
