<% include header %>

<main>
    <h1>MAIN PAGE</h1>
    <p>Welcome to the main page</p>

    This app lets you:
        <section class="button-section">
            <button><a href="./create">Add movies (Create)</a></button>
            <button><a href="./read">View movies (Read)</a></button>
            <button><a href="./update">Update movies (Update)</a></button>
            <button><a href="./delete">Remove movies (Delete)</a></button>
        </section class="button-section">

    <p>And in case you mess up, you may reseed the database with the original data</p>

    <section class="button-section">
        <button><a href="./reseed">Reseed DB</a></button>
    </section class="button-section">

</main>






<% include ./footer %>
