<% include header %>

<main>
    <h1>UPDATE</h1>
    <br><h2>UNDER CONSTRUCTION, COMING SOON</h2><br>


    <h4>Movie Update Form</h4>
    <form action="POST">
        <input type="text" required placeholder="Movie Title">
        <input type="text" required placeholder="Year">
        <input type="text" required placeholder="imdb Link">
        <button class="submit">Submit</button>
    </form>

</main>



<% include footer %>
