html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

}

body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-image: url("https://source.unsplash.com/nW1n9eNHOsc/1600x900");
    background-size: cover;
    background-position: center;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

header > h1, header > p {
    margin: 20px;
    /* text-align: center;
    vertical-align: middle; */
}

/* NAVBAR */
nav {
    overflow: hidden;
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {

    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* Home page */
.button-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.button-section > button {
    background-color: #b31120;
    color: white;
    border: solid 0px black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.button-section > button > a {
    text-decoration: none;
    color: white;

}

/* MAIN SECTION */
main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

main > h1, main > p {
    margin: 10px;
}

/* READ page */
.videos {
    display: flex;
    flex-wrap: wrap;
}

.video-thumb {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 10px;
    width: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-thumb > img {
    width: 100%;
}

.video-thumb > h4, .video-thumb > p {
    margin: 5px;
}

.video-thumb > p {
    margin-top: auto;
}

/* CREATE page */
.movie-entry-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0px 4rem;
}

form > input, form > button {
    margin: 10px;
    width: 100%;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: auto;
}
